* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  width: 350px;
  height: 230px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.title > h1 {
  font-size: 2.4rem;
}
.title > p {
  font-size: 1.3rem;
  font-weight: 700;
}

.title {
  text-align: center;
  flex-basis: 70px;
}
.ssafy {
  color: #6dcef5;
}
.youtube {
  color: #ff0000;
}

.input-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  text-align: center;
  height: 38px;
  width: 210px;
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
  outline: none;
  border: 0px;
  margin-left: 1px;
  margin-right: 1px;
}

.input-box input:focus::placeholder {
  color: transparent;
}

.reference {
  align-self: center;
}

.button {
  width: 120px;
  padding: 0;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: #000;
  border-radius: 5px;
  transition: all 0.2s;
}

.btnLightBlue {
  background: #6dcef5;
}

.btnFade.btnLightBlue:hover {
  background: #abe7ff;
  cursor: pointer;
}

/* On Off Button Style*/

.onoffToggle {
  width: 56px;
  height: 26px;
  display: block;
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  border : 2px solid #afafaf;
  cursor: pointer;
}

.onoffToggle .onoffBall {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #6dcef5;
}

.onoff:checked + .onoffToggle {
  border: 2px solid #6dcef5;
  background: #6dcef5;
}

.onoff:checked ~ .onoffToggle .onoffBall {
  left: 30px;
  left: calc(100% - 23px);
  border: 2px solid #6dcef5;
  background: #fff;
}

.onoffToggle, .onoffBall {
  transition: all 0.2s ease-in;
}


.toggleContainer {
  position: absolute;
  top: 20px;
  right : 30px;
}

/* claer + input Style */
.input-box {
  position: relative;
  display: flex;
  float: left;
  align-items: center;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 0 0px black inset;
  height: 40px;
  width: 219px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 1px;
}

/* clear Style */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v104/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2)
    format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  color: black;
  visibility: hidden;
}

.material-symbols-outlined:hover {
  color: gray;
  cursor: pointer;
}

.clear-box {
  /* 포지션 */
  position: absolute;
  display: flex;
  right: 1px;
  align-items: center;
  padding-right: 2px;
  padding-left: 2px;
  height: 38px;
}

.reference a {
  margin: 0 2px;
}